/* GENERAL */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: coral;
    border: 1px solid blue;
}
body{
    font-family: 'Montserrat', sans-serif;
}
ul{
    list-style: none;;
}
li{
    text-decoration: none;
}
.flex{
    display: flex;
}
.block{
    display: block;
}
.inline-block{
    display: inline-block;
}
/* .debug{
    background-color: coral;
    border: 1px solid blue;
} */
/* ////GENERAL */
/* TYPO */
/* ////TYPO */
/* SPACING */

/* ////SPACING */
/* COLORS */

/* ////COLORS */
/* HEADER */

/* ////HEADER */
/* MAIN */
/* ////MAIN */
/* FOOTER */
footer{
    height: 80px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #282828;
}
footer>*{
    height: 50px;
    width: 100px;
}
/* ////FOOTER */